body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

ul, li {
	margin:		0;
	padding:	0;
	list-style-type: none;
}

#top {
  background-color: #FFFFFF;
  overflow: hidden;
}

#top ul {
  padding: 6px 10px;
  margin: 0;
}

#top ul li {
  list-style-type: none;
  float: left;
  margin-right: 20px;
}

#top a {
  text-decoration: none;
}

#main {
  background-color: #EFEFEF;
  overflow-y:       scroll;
  padding:          6px 20px;
}

label {
	width:	100px;
	text-align: right;
}

input:disabled {
	background-color: #FFFFFF;
}
